<div class="container-lg">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Luv Notes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= image_tag("mexico.jpg", class: "img-fluid") %>
    </div>
  </div>
  <div class="row sm-margin-top">
    <div class="col-md-12 text-center">
      <%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
